.about{
    height: fit-content !important;
    padding-top: 50px;
    .aboutme{
        color: $white;
        line-height: 1.5;
        padding-right: 30px;
    }
    .education{
        color: $white;
        h4{
            font-weight: bolder;
        }
        h5{
            font-weight: 500;
        }
        h6{
            font-weight: 200;
            border-bottom: 1px solid $sec;
            padding-bottom: 10px;
        }
    }
}