.textBox{
    width: fit-content;
    height: fit-content;
    padding: 6px 15px;
    flex-shrink: 0;
    border-radius: 16px;
    background: $main50;
    margin-bottom: 20px;
    span{
        color: $sec;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }
}