.textBox{
    width: fit-content;
    height: fit-content;
    padding: 6px 15px;
    flex-shrink: 0;
    border-radius: 16px;
    background: $main50;
    margin-bottom: 20px;
    span{
        color: $sec;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }
}

.button{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $sec;
    border: 1px solid $sec;
    border-radius: 16px;
    padding: 7px 15px;
    transition: $transition02;
    height: 43px;
    svg{
        width: 32px;
        height: 32px;
        transition: $transition02;
    }
    span{
        padding-left: 8px;
        font-size: 18px;
        font-weight: 500;
    }
    &:hover{
        background-color: $sec;
        color: $main;
        svg{
            fill: $main !important;
        }
    }
}