$main : #090E16;
$sec : #7B4AE2;
$white : #FFFFFF; 
$main50 : #191c33;
$sec50: rgba($color: #7B4AE2, $alpha: 0.3);
$white50: rgba(255, 255, 255, 0.6);
$grey: grey;
$grey25: rgba($color: grey, $alpha: 0.25);

$navHeight: 70px;
$footerHeight: 65px;
$sectionHeight: 100vh;
$borderRadius: 22px;
$borderRadius2: 16px;

$transition02: 0.2s ease-in-out;
