$main : #090E16;
$sec : #7B4AE2;
$main50 : #191c33;
$white50: rgba(255, 255, 255, 0.5);
$grey25: rgba($color: grey, $alpha: 0.25);

$navHeight: 70px;
$footerHeight: 65px;
$sectionHeight: 100vh;
$borderRadius: 22px;